:root{
    --big-color: rgb(221, 214, 214);
    --second-big-color: #f9f9f9;
    --text-color: black;
    --second-color: rgba(110, 110, 99, 0.673);
    --main-color: chocolate;
    --other-color: #333;
}
body{
	margin: 0;
	font-size: 22px;
	text-align: center;
	color: var(--big-color);
	padding-top: 5px;
	background-color: chocolate;
	font-family: 'Cinzel', serif;	
	background-image: url(../images/library_1.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	padding-left: 2px;
    height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    align-items: center;
}
body h1 {
	font-size: 110px;
}
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	outline: none;
}
.start_btn {
	background-color: red;
	position: absolute;
	color: white;
	top: 45%;
	left: 45%;
	height: 200px;
	width: 200px;
	border: 10px solid white;
	border-radius: 100px;
	font-size: 100px;
}
.start_btn:hover {
	background-color: green;
}
.btn {
	color: var(--second-big-color);
	background-color: transparent;
	border: none;
	font-size: 50px;
	cursor: pointer;
}
.container {
	background-color: var(--second-color);
	max-width: 800px;
	max-height: fit-content;
	margin: 0 auto;
}
.quiz {
	margin: 20px 0;
}
#choices {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding-left: 40%;
	padding-top: 15px;
}
#choices label {
	margin: 5px 0;
}
#submit {
	font-size: 25px;
	border: 5px solid var(--second-color);
	margin-top: 20px;
	padding: 8px;
	border-radius: 5px;
	cursor: pointer;
}
#submit:hover {
	background-color: black;
	color: white;
	border-color: rgba(255, 255, 255, 0.813);
}
#start {
	font-size: 25px;
	background-color: var(--second-big-color);
	border: 5px solid var(--second-color);
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}
#start:hover {
	background-color: black;
	color: white;
	border-color: rgba(255, 255, 255, 0.788);
}
.leaderboard {
	width: 800px;
	height: 260px;
	margin-top: 30px;
	border: 5px solid var(--second-big-color);
	border-radius: 10px;
	overflow: scroll;
}
.leaderboard ol {
	list-style: none;
	padding: 0;
}
.leaderboard li {
	margin: 5px 0;
}
.copyright{
	font-size: 25px;
	color: white;
	font-weight: 500;
	text-align: center;
    background: transparent;
    padding: 0px;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.icon a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 75px;
    height: 75px;
	font-weight: 400;
    margin: 0px 5px;
    color: white;
    font-size: 2.2rem;
    transition: all .40s;
}
.icon a:hover{
    transform: translateY(-20px);
}

/*css for smaller screens*/

@media (max-width: 1300px){
	body h1 {
		font-size: 50px;
	}
	.start_btn{
		top: 33%;
		left: 43%;
		height: 180px;
		width: 180px;
	}
	.start_btn:hover {
		background-color: green;
	}
	body{
		margin: 0;
		font-size: 15px;
		text-align: center;
	}
	.container {
		max-width: 500px;
		font-size: 12px;
		margin: 0 auto;
	}
	.leaderboard {
		width: 500px;
		max-height: 170px;
		overflow: scroll;
	}
	#submit {
		font-size: 15px;
	}
	#start {
		font-size: 15px;
	}
	.copyright {
		font-size: 15px;
	}
}
